<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Attachments</key>
	<array/>
	<key>DrawingWindows</key>
	<array>
		<dict>
			<key>Antialiasing</key>
			<string>YES</string>
			<key>Axis</key>
			<dict>
				<key>YScale</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>1</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>ZScale</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>1</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>BoundingBox</key>
			<dict>
				<key>MaxXValue</key>
				<string></string>
				<key>MaxYValue</key>
				<string></string>
				<key>MaxZValue</key>
				<string></string>
				<key>MinXValue</key>
				<string></string>
				<key>MinYValue</key>
				<string></string>
				<key>MinZValue</key>
				<string></string>
				<key>RangeType</key>
				<integer>0</integer>
				<key>Region</key>
				<dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>Camera</key>
			<dict>
				<key>Active</key>
				<integer>0</integer>
				<key>Cameras</key>
				<array>
					<dict>
						<key>CameraType</key>
						<string>Spherical</string>
						<key>Horizontal</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>CurrentValue</key>
								<real>-90.100000000000009</real>
								<key>MaxValue</key>
								<real>180</real>
								<key>MinValue</key>
								<real>-180</real>
								<key>String</key>
								<string>-90.1</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Magnification</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>CurrentValue</key>
								<real>20</real>
								<key>MaxValue</key>
								<real>60</real>
								<key>MinValue</key>
								<real>2</real>
								<key>String</key>
								<string>20</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Name</key>
						<string>Spherical</string>
						<key>UpVector</key>
						<integer>0</integer>
						<key>Vertical</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>CurrentValue</key>
								<real>90</real>
								<key>MaxValue</key>
								<real>90</real>
								<key>MinValue</key>
								<real>-90</real>
								<key>String</key>
								<string>90</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
					</dict>
				</array>
			</dict>
			<key>CommandContents</key>
			<array>
				<dict>
					<key>CommandName</key>
					<string>Point values from Array</string>
					<key>CommandType</key>
					<string>Point Value Collection</string>
					<key>Computation</key>
					<dict>
						<key>Crop</key>
						<dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>CropSwitch</key>
						<string>On</string>
						<key>CutOff</key>
						<string>100</string>
						<key>Material</key>
						<integer>0</integer>
						<key>Maximum</key>
						<string>20K</string>
						<key>Points</key>
						<dict>
							<key>Selected</key>
							<string>Spheres</string>
						</dict>
						<key>Ramp</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Menu</key>
								<integer>0</integer>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Range</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Range</key>
								<string>0.0139,0.0867</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Size</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Number</key>
								<string>1</string>
							</dict>
							<key>Selected</key>
							<string>Spheres</string>
						</dict>
						<key>Sparsify</key>
						<string>Off</string>
						<key>Swap</key>
						<string>Off</string>
						<key>Type</key>
						<integer>2</integer>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
				</dict>
				<dict>
					<key>CommandName</key>
					<string>3D Region</string>
					<key>CommandType</key>
					<string>Region</string>
					<key>Computation</key>
					<dict>
						<key>Crop</key>
						<string>On</string>
						<key>CroppingRegion</key>
						<dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>DrawEdge</key>
						<string>On</string>
						<key>DrawSide</key>
						<string>On</string>
						<key>Edge</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Blue</key>
									<real>1</real>
									<key>Green</key>
									<real>0.0</real>
									<key>Red</key>
									<real>0.16008567809999999</real>
									<key>Space</key>
									<string>NSCalibratedRGBColorSpace</string>
								</dict>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Region</key>
						<dict>
							<key>Selected</key>
							<string>3D Region</string>
						</dict>
						<key>Side</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Alpha</key>
									<real>0.3700000048</real>
									<key>Blue</key>
									<real>1</real>
									<key>Green</key>
									<real>0.72167921069999996</real>
									<key>Red</key>
									<real>0.0</real>
									<key>Space</key>
									<string>NSCalibratedRGBColorSpace</string>
								</dict>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Size</key>
						<string>0.1</string>
						<key>Type</key>
						<integer>0</integer>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
				</dict>
				<dict>
					<key>CommandName</key>
					<string>Copy of sphere 4</string>
					<key>CommandType</key>
					<string>Surface</string>
					<key>Computation</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Blue</key>
									<real>0.0</real>
									<key>Green</key>
									<real>1</real>
									<key>Red</key>
									<real>0.0</real>
									<key>Space</key>
									<string>NSCalibratedRGBColorSpace</string>
								</dict>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Crop</key>
						<dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>CropSwitch</key>
						<string>On</string>
						<key>Cull</key>
						<string>Off</string>
						<key>Material</key>
						<integer>0</integer>
						<key>Maximum</key>
						<string>10M</string>
						<key>Surface</key>
						<dict>
							<key>Selected</key>
							<string>Surface of Spheres</string>
						</dict>
					</dict>
					<key>Drawn</key>
					<string>Exclude</string>
					<key>Status</key>
					<string>Visible</string>
				</dict>
			</array>
			<key>DrawingHeight</key>
			<real>604</real>
			<key>DrawingWindowType</key>
			<string>3DGLGraph</string>
			<key>FigureName</key>
			<string>Untitled</string>
			<key>Last Drawing View Size</key>
			<string>{972, 604}</string>
			<key>Lights</key>
			<dict>
				<key>Lights</key>
				<array/>
			</dict>
			<key>MaxHeight</key>
			<string></string>
			<key>MaxWidth</key>
			<string></string>
			<key>OutputHeight</key>
			<string></string>
			<key>OutputWidth</key>
			<string></string>
			<key>QT</key>
			<dict>
				<key>Format</key>
				<string>Animation</string>
				<key>Quality</key>
				<dict>
					<key>EntryName</key>
					<string>Lossless</string>
					<key>EntryNumber</key>
					<integer>0</integer>
				</dict>
				<key>Range</key>
				<string>0,∞</string>
				<key>ShowInFinder</key>
				<string>On</string>
				<key>TimeStep</key>
				<string>1.0</string>
			</dict>
			<key>Rendering</key>
			<dict>
				<key>BackgroundColor</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>Alpha</key>
							<real>0.0</real>
							<key>Blue</key>
							<real>1</real>
							<key>Green</key>
							<real>1</real>
							<key>Red</key>
							<real>1</real>
							<key>Space</key>
							<string>NSCalibratedRGBColorSpace</string>
						</dict>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>Density</key>
				<string>1</string>
				<key>Fog</key>
				<string>Off</string>
				<key>FogType</key>
				<integer>0</integer>
				<key>LinearRange</key>
				<string>0,1</string>
				<key>Offset</key>
				<string>1,10</string>
				<key>Smoothing</key>
				<integer>3</integer>
				<key>Sorting</key>
				<integer>0</integer>
			</dict>
			<key>SeparateWindowPos</key>
			<array>
				<real>135</real>
				<real>61</real>
				<real>685</real>
				<real>624</real>
			</array>
			<key>ViewSizeJoined</key>
			<string>974,604</string>
			<key>ViewSizeSeparated</key>
			<string>685,602</string>
			<key>Visible</key>
			<string>NO</string>
			<key>WindowName</key>
			<string>3-D Sphere Packing</string>
			<key>WindowPos</key>
			<array>
				<real>308</real>
				<real>0.0</real>
				<real>972</real>
				<real>778</real>
			</array>
		</dict>
		<dict>
			<key>Antialiasing</key>
			<string>YES</string>
			<key>Axis</key>
			<dict>
				<key>YScale</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>1</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>BoundingBox</key>
			<dict>
				<key>MaxXValue</key>
				<string>2000</string>
				<key>MaxYValue</key>
				<string>2000</string>
				<key>MinXValue</key>
				<string>0</string>
				<key>MinYValue</key>
				<string>0</string>
				<key>RangeType</key>
				<integer>4</integer>
				<key>Region</key>
				<dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>CommandContents</key>
			<array>
				<dict>
					<key>CommandName</key>
					<string>8</string>
					<key>CommandType</key>
					<string>Path</string>
					<key>Computation</key>
					<dict>
						<key>ClockWiseCropSwitch</key>
						<string>Off</string>
						<key>ClockWiseSwitch</key>
						<string>Off</string>
						<key>CropSwitch</key>
						<string>On</string>
						<key>CroppingPath</key>
						<dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>FillStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Blue</key>
									<real>0.0</real>
									<key>Green</key>
									<real>0.0</real>
									<key>Red</key>
									<real>0.0</real>
									<key>Space</key>
									<string>NSCalibratedRGBColorSpace</string>
								</dict>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>FillSwitch</key>
						<string>On</string>
						<key>LineStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>LineType</key>
								<integer>0</integer>
								<key>LineWidth</key>
								<string>0.5</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>LineSwitch</key>
						<string>On</string>
						<key>Path</key>
						<dict>
							<key>Selected</key>
							<string>Slice of Surface of Spheres</string>
						</dict>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
				</dict>
				<dict>
					<key>CommandName</key>
					<string> </string>
					<key>CommandType</key>
					<string>Grid</string>
					<key>Computation</key>
					<dict>
						<key>ClockWise</key>
						<string>Off</string>
						<key>Crop</key>
						<dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>CropSwitch</key>
						<string>On</string>
						<key>Format</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>Name</key>
								<string>Helvetica</string>
								<key>Size</key>
								<string>10</string>
								<key>Type</key>
								<integer>4</integer>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Grid</key>
						<dict>
							<key>Selected</key>
							<string>2D Mesh Grid</string>
						</dict>
						<key>GridNumber</key>
						<string>Off</string>
						<key>GridOffset</key>
						<string>Off</string>
						<key>Linestyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Alpha</key>
										<real>0.5</real>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>LineType</key>
								<integer>0</integer>
								<key>LineWidth</key>
								<string>0.5</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Magnification</key>
						<integer>0</integer>
						<key>Position</key>
						<integer>0</integer>
						<key>StartAt1</key>
						<string>Off</string>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
				</dict>
			</array>
			<key>DrawingHeight</key>
			<real>704</real>
			<key>DrawingWindow</key>
			<dict>
				<key>ClickMenu</key>
				<dict>
					<key>EntryName</key>
					<string>Automatic</string>
					<key>EntryNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>DrawingWindowType</key>
			<string>2DGraph</string>
			<key>FigureName</key>
			<string>Untitled</string>
			<key>Last Drawing View Size</key>
			<string>{1192, 704}</string>
			<key>MaxHeight</key>
			<string></string>
			<key>MaxWidth</key>
			<string></string>
			<key>OutputHeight</key>
			<string></string>
			<key>OutputWidth</key>
			<string></string>
			<key>QT</key>
			<dict>
				<key>Format</key>
				<string>Animation</string>
				<key>Quality</key>
				<dict>
					<key>EntryName</key>
					<string>Lossless</string>
					<key>EntryNumber</key>
					<integer>0</integer>
				</dict>
				<key>Range</key>
				<string>0,∞</string>
				<key>ShowInFinder</key>
				<string>On</string>
				<key>TimeStep</key>
				<string>1.0</string>
			</dict>
			<key>SeparateWindowPos</key>
			<array>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<key>ViewSizeJoined</key>
			<string>1192,707</string>
			<key>ViewSizeSeparated</key>
			<string></string>
			<key>Visible</key>
			<string>NO</string>
			<key>WindowName</key>
			<string>Slice of Spheres</string>
			<key>WindowPos</key>
			<array>
				<real>85</real>
				<real>1</real>
				<real>1190</real>
				<real>777</real>
			</array>
		</dict>
	</array>
	<key>Time</key>
	<dict>
		<key>CurrentTime</key>
		<dict>
			<key>CurrentValue</key>
			<real>0.0</real>
			<key>MaxValue</key>
			<real>1</real>
			<key>MinValue</key>
			<real>0.0</real>
			<key>String</key>
			<string>0</string>
		</dict>
		<key>Duration</key>
		<string>10</string>
		<key>Include</key>
		<string>0</string>
		<key>Loop</key>
		<string>Off</string>
		<key>TimeHint</key>
		<real>0.0</real>
		<key>TimeStep</key>
		<string>1.0</string>
		<key>TimeStepSwitch</key>
		<string>Off</string>
		<key>ToggleMax</key>
		<string>1</string>
		<key>ToggleMin</key>
		<string>0</string>
		<key>WindowPos</key>
		<array>
			<real>234</real>
			<real>83</real>
			<real>377</real>
			<real>172</real>
		</array>
		<key>ZoomMax</key>
		<string>0</string>
		<key>ZoomMin</key>
		<string>0</string>
		<key>ZoomSlider</key>
		<dict>
			<key>CurrentValue</key>
			<real>0.0</real>
			<key>MaxValue</key>
			<real>0.0</real>
			<key>MinValue</key>
			<real>0.0</real>
			<key>String</key>
			<string></string>
		</dict>
	</dict>
	<key>Variables</key>
	<array>
		<dict>
			<key>Content</key>
			<dict>
				<key>File</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Text</key>
						<string>pack.out</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>Header</key>
				<string>5</string>
				<key>RunConversion</key>
				<string>Off</string>
				<key>Script</key>
				<string>Conversion-1</string>
				<key>Tail</key>
				<string>0</string>
				<key>ViewSize</key>
				<integer>0</integer>
			</dict>
			<key>Selection</key>
			<string>From File</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>Array from Sphere Packing File</string>
			<key>VariableType</key>
			<string>Array</string>
			<key>ViewHeight</key>
			<real>216</real>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Variable</key>
				<dict>
					<key>Selected</key>
					<string>Surface of Spheres</string>
				</dict>
				<key>Which Time</key>
				<integer>0</integer>
			</dict>
			<key>Selection</key>
			<string>Bounding Box</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>3D Region</string>
			<key>VariableType</key>
			<string>Region3D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Array</key>
				<dict>
					<key>Selected</key>
					<string>Array from Sphere Packing File</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>From Array</string>
			<key>VariableName</key>
			<string>Spheres</string>
			<key>VariableType</key>
			<string>PointValueCollection3D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Center</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Point</key>
						<string>0.3,0.5,0.4</string>
					</dict>
					<key>Selected</key>
					<string>Spheres</string>
				</dict>
				<key>Maximum</key>
				<string>50M</string>
				<key>Radius</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>0.1</string>
					</dict>
					<key>Selected</key>
					<string>Spheres</string>
				</dict>
				<key>Segments</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>20</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Sphere</string>
			<key>VariableName</key>
			<string>Surface of Spheres</string>
			<key>VariableType</key>
			<string>Surface3D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Plane</key>
				<dict>
					<key>Selected</key>
					<string>Slicing Plane</string>
				</dict>
				<key>Surface</key>
				<dict>
					<key>Selected</key>
					<string>Surface of Spheres</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Surface Slice</string>
			<key>VariableName</key>
			<string>Slice of Surface of Spheres</string>
			<key>VariableType</key>
			<string>Path2D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>RegionFrom</key>
				<dict>
					<key>Selected</key>
					<string>Surface of Spheres</string>
				</dict>
				<key>Type</key>
				<integer>0</integer>
				<key>X</key>
				<dict>
					<key>CurrentValue</key>
					<real>1.1047069818153381</real>
					<key>MaxValue</key>
					<real>1.1047069818153381</real>
					<key>MinValue</key>
					<real>-0.10533660057926178</real>
					<key>String</key>
					<string>1.1047069818153</string>
				</dict>
				<key>XRange</key>
				<string>-5.39,1979</string>
				<key>XYZ</key>
				<integer>2</integer>
				<key>Y</key>
				<dict>
					<key>CurrentValue</key>
					<real>1.1185009867324829</real>
					<key>MaxValue</key>
					<real>1.1185009867324829</real>
					<key>MinValue</key>
					<real>-0.12102386397536471</real>
					<key>String</key>
					<string>1.1185009867325</string>
				</dict>
				<key>YRange</key>
				<string>4,1961</string>
				<key>Z</key>
				<dict>
					<key>CurrentValue</key>
					<real>1.1164300233497619</real>
					<key>MaxValue</key>
					<real>1.1164300233497619</real>
					<key>MinValue</key>
					<real>-0.11974172004492581</real>
					<key>String</key>
					<string>1.1164300233498</string>
				</dict>
				<key>ZRange</key>
				<string>1.106,38.89</string>
			</dict>
			<key>Selection</key>
			<string>Sliders Inside Region</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>Slicing Plane</string>
			<key>VariableType</key>
			<string>CoordinatePlane3D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Origin</key>
				<string>0,0</string>
				<key>Size</key>
				<string>1,1</string>
				<key>Steps</key>
				<string>1/6</string>
				<key>Variables</key>
				<array/>
			</dict>
			<key>Selection</key>
			<string>Specify</string>
			<key>VariableName</key>
			<string>2D Mesh Grid</string>
			<key>VariableType</key>
			<string>Mesh2DGrid</string>
		</dict>
	</array>
	<key>WindowPosition</key>
	<array>
		<real>462</real>
		<real>106</real>
		<real>941</real>
		<real>679</real>
	</array>
</dict>
</plist>
